## Global configuration: valid for clients and servers
# Registry entries:
registry: {{ registry_backend_service_records }} 
registry_frontend: {{ registry_frontend_service_records }}

## Ansible configuration:
# Quobyte API endpoint to talk to
api_service: {{ hostvars[groups['apiservices'][0]].inventory_hostname }} 

## Storage server configuration

### Networking
# Service network(s): Quobyte services will communicate through this network.
service_networks: 
  - {{ backend_network }} 
# Client network(s): Quobyte clients will use this network to communicate with Quobyte services.
client_networks: 
  - {{ frontend_network }} 
# Trusted service network(s): Any service running within this segment will be trusted.
# All others need to authenticate. See https://support.quobyte.com/docs/16/latest/service_authentication.html
trusted_service_networks: 
  - {{ backend_network }} 

### Storage Device Layout
# Select one or more dedicated metadata device(s).
# All other available devices will be used as data devices.
metadatadevices: 
  - {{ metadata_device }} 

## Service configuration
# A valid DNS entry for the S3 endpoint
s3_endpoint: s3.quobyte-demo.com.

## Client configuration
# Mountpoint for quobyte-client.service 
mountpoint: /quobyte

# Name of your Quobyte cluster
clustername: {{ clustername }}

# Quobyte admin user
admin_user: {{ username }}
# Quobyte admin user password. Consider ansible vault etc.
admin_password: {{ password }}

# Path to license file
license_key: "{{ license }}"

## Optional config settings

## Dedicated mirror: If you do not use Quobyte repositories, but your own
# dedicated_mirror: https://mypackages.example.com/repo/quobyte/releasebranch

## Turn off GPG package signature checks
# check_package_signature: "no"
